extends layout

block content
	.container-fluid.header
		.row
			.col-md-10.col-md-offset-1
				h1.main-title Shifty!
				p.sub-title A Lightweight JavaScript Animation Library

				a.btn.btn-outline-inverse.btn-lg.btn-default.intro-btn(href="/katie", role="button") Katie
				a.btn.btn-outline-inverse.btn-lg.btn-default.intro-btn(href="/jim", role="button") Jim
				a.btn.btn-outline-inverse.btn-lg.btn-default.intro-btn(href="/justin", role="button") Justin
				a.btn.btn-outline-inverse.btn-lg.btn-default.intro-btn(href="/michael", role="button") Michael
