extends layout

block content
	.container-fluid
		.row
			.col-md-10.col-md-offset-1
				button.btn.btn-sm.pull-right.ex-pad
					a(href="/justin-code") view code
		.row
			.col-md-10.col-md-offset-1
				div(id="text1", class="a")
					h1 Hello!
				div(id="text2", class="a") 
					h1 I'm
				div(id="text3", class="a") 
					h1 a
				div(id="text4", class="a") 
					h1 Tween!