extends layout

block content
	div(id="text1", class="a")
		h1 Hello!
	div(id="text2", class="a") 
		h1 I'm
	div(id="text3", class="a") 
		h1 a
	div(id="text4", class="a") 
		h1 Tween!


	
	//- h3 Try to click the button
	//- button(id="btnHelixStart" class="big-button") Start Game!
	//- div(id="helix-container")
	//- 	button(class="segment")