extends layout

block content
	h3 Try to click the button
	button(id="btnHelixStart" class="big-button") Start Game!
	div(id="helix-container")
		button(class="segment")
		button(class="segment")
		button(class="segment")
		button(class="segment")
		button(class="segment")
		button(class="segment")
		button(class="segment")
		button(class="segment")
		button(class="segment")
		button(class="segment")
		button(class="segment")
	