doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(href="michael.css", rel="stylesheet")
		title Untitled

	body
		block content
	script(src='https://cdn.rawgit.com/jeremyckahn/shifty/master/dist/shifty.min.js')
	script(src='michael.js')