doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(rel='stylesheet', href='jim.css')

		
		title Untitled

	body
		block content
		//- script(src="http://www.javascriptoo.com/application/html/js/jeremyckahn/shifty/shifty.min.js")
		script(src="http://www.javascriptoo.com/application/html/js/jeremyckahn/shifty/shifty.min.js")
		script(src="jim.js")

		

		