extends layout

block content
	button#btnHelixStart.big-button Go go helix!
	
	div#helix-container
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;
		span.segment &nbsp;